@use '../utils' as *;
/*----------------------------------------*/
/*  2.9 Pagination
/*----------------------------------------*/

.title-card-head{
    padding: 15px 10px;
}

.title-card-head h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}